/* =============================
ALL SECTIONS
================================ */

body {
  margin: 0px;
}

a:hover {
  color: rgb(128, 128, 128);
}

#divs_container {
  background-color: rgb(51, 172, 132);
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: auto;
  width: auto;
  border-width: 5px 5px 0px 5px;
}

h2 {
  text-align: center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: rgb(255, 249, 218);
  color: rgb(51, 51, 51);
  padding: 10px 16px 10px 16px;
  border-top: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(51, 51, 51);
  border-bottom: 1px solid rgb(51, 51, 51);
  border-left: 1px solid rgb(204, 204, 204);
  border-radius: 30px;
}

p {
  max-width: 780px;
  margin: 0 auto;
}

/* =============================
HEADER
================================ */

header {
  background-color: rgb(255, 249, 218);
  border-width: 5px 5px 0px 5px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

a {
  justify-content: space-around;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: rgb(51, 172, 132);
}

#divs_container > div.firstDivider > a {
  padding: 0px;
}

.centeredName {
  font-size: 40px;
  position: absolute;
  overflow-wrap: normal;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  font-weight: 400;
  font-style: italic;
}

/* =============================
MAIN BACKGROUND IMAGE
================================ */
.firstDivider {
  text-align: center;
  background-size: cover;
  /* background-image: url("http://s1.picswalls.com/wallpapers/2014/08/01/new-york-city-background_010648668_143.jpg"); */
  background-position: center;
  margin: 0 auto;
  width: 80%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#divs_container > div.firstDivider > img {
  background-position: center;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  max-width: 100%;
  max-height: 100%;
  display: block;
  filter: blur(2px);
}


/* =============================
ABOUT ME
================================ */
.secondDivider {
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 2px;
  font-weight: 700;
  top: 10px;
  bottom: 10px;
}

#Section_further_down2 > a > img {
  border-radius: 30px;
  padding: 10px;
}

/* =============================
PARAGRAPH ABOUT ME
================================ */
.thirdDivider {
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

/* =============================
SKILLS
================================ */

.skillDivider {
  text-align: center;
  padding: 60px 0px;
  font-weight: 700;
}

/* =============================
PROJECTS
================================ */

.projects {
  background-color: rgb(255, 255, 255, 0.5);
}

hr {
  width: 1px; 
  height: 100px; 
  background: rgb(0, 0, 0); 
  border: none;
}

.fourthDivider {
  padding: 60px 0px;  
  display: inline-block;
  max-width: max-content;
  max-height: max-content;
}

.projectContainer {
  background-color: rgb(51, 172, 132);
  border: 10px solid rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 20px 40px 40px;
  max-width: 640px;
  align-items: center;
}

div.projectContainer {
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  display: flex;
}

.containerImage {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  }
  
.containerText {
    display: inline-block;
    width: 45%;
    padding: 20px;
    @media (max-width: 620px) {
        width: 50%;
    }
  }



/* =============================
FOOTER
================================ */
footer {
  background-color: rgb(255, 249, 218);
  font-family: "Raleway", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0 auto;
  font-weight: 700;
  padding: 40px 0;
}

#Section_further_down4 > p > a {
  padding: 0px;
}


/* =============================
MEDIA RESPONSIVENESS
================================ */

@media (max-width: 675px) {

header {
  padding: 5px;
}

nav {
  font-size: 12px;
}

a {
  padding: 5px;
}

.centeredName {
  font-size: 16px;
  position: absolute;
  overflow-wrap: normal;
  top: 15%;
  left: 50%;
  }

.firstDivider {
    max-height: 500px;
  }

#divs_container > div.firstDivider > img {
  max-height: 300px;
}

}

@media (min-width: 1745px) {

.firstDivider {
  width: 50%;
  height: 100%;
}

}

@media (min-height: 960px) {

.centeredName {
  top: 20%;
}

}
